/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */

//-----------------------------
//  Yamm Styles
//-----------------------------

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown
  position static

.yamm
  .container
    position relative
  .dropdown-menu
    left auto
  .yamm-content
    padding 20px 30px
  .dropdown
    &.yamm-fw
      .dropdown-menu
        left 0
        right 0
